.input_Sizing{
    width: 50%;
    padding: 0.7em;
    margin-bottom: 0.5rem;
}
.label_Sizing{
    text-align: right;
    
    padding: 0.5em 1.5em 0.5em 0;
}

.center_Popup{
    position:fixed;
    width:30%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    top:50%;
    left:50%;
    text-align:center;   
}

.border_RadiusForm{
    border-radius: 30px;
}

.popup {
    display: none;
    width:738px;
    z-index: 10;
    &.active {
        display: block;
    }
    &.hide{
        visibility:hidden;
    }
}

@media only screen and (min-width: 674px) {
    .label_Sizing {
        float: left;
        width: 200px;
    }

    .input_Sizing {
    
        width: calc(100% - 250px);
    }
}
@media only screen and (max-width: 673px) {
    .label_Sizing {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .input_Sizing {
        width: calc(75%);
    }

    .popup{
        width:400px;
        
    }
}

@media only screen and (max-width: 375px) {
    .popup{
        width:330px;
    }
}
