.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
}

.header li{
    display: inline-block;
    padding: 0px 20px;
}

.header li a{
    transition: all 0.3s ease 0s;
    border-radius: 30px;
}

.header li a:hover{
    color: white;
}

